extends layout

block content
   script.
    var xhr = new XMLHttpRequest();
    var data = [];
    xhr.onreadystatechange = function() {
       if (xhr.readyState == XMLHttpRequest.DONE) {
         var rawdata = xhr.responseText;
         data = JSON.parse(rawdata);
       }
    }

    console.log(data);
    xhr.open('GET', '/jsonData', false);
    xhr.send(null);
    console.log(data);
    $(document).ready(function(){
     for(var i = 0; i< data.length; i++){
         var div = document.createElement("div");
         var video = document.createElement("video");
         var source = document.createElement("source");
         var stats = document.createElement("div");
         var s = "<div class='views left'>Total views: "+data[i].views+"</div>"+"<div class='right'><img class='"+data[i].id+"/Up' src='/images/thumbs_up.svg'> "+data[i].thumbsUp+"<img class='"+data[i].id+"/Down' src='/images/thumbs_down.svg'> "+data[i].thumbsDown+"</div>";
         stats.className = "stats ";
         stats.id = data[i].id;
         stats.innerHTML = s;
         source.src = data[i].filename;
         video.id = data[i].title;
         video.className = data[i].id;
         video.setAttribute("controls", "controls");
         div.className = "videoContainer";
         video.append(source);
         div.append(video);
         div.append(stats);
         $("#content").append(div);
     }
      $("[src*='thumb']").click(function(){
         var cla = $(this).attr("class");
         var url = "/update/"+cla;
         var xhr = new XMLHttpRequest();
         xhr.open("GET",url,true);
         xhr.send(null);
      });
      $('video').on("ended", function(){
         var cla = $(this).attr("class");
         var url = "/viewsUpdate/"+cla;
         console.log(url);
         var xhr = new XMLHttpRequest();
         var jq = "video."+cla+" ~ div.stats > div.views";
         console.log(data[cla-1].views);
         $(jq).text("Total views: "+data[cla-1].views+1);
         xhr.open("GET",url,true);
         xhr.send(null);
      });
    });


