body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.videos {

}
video {
    width:100%;
}
.right {
    float: right;
}
.thumbs {
    margin: .5em;
}
